header {
    background-image: url(images/high-on-coding-image.jpg);
    height: 160px;
}

h1 {
    text-align: center;
    font-size: 75px;
    color: brown;
}

.jumbotron {
    margin: 15px;
}

.content {
    display: flex;
    align-items: center;
    margin: 15px 0 50px 25px;
}